[submodule "libs/ContinuousNet"]
	path = libs/ContinuousNet
	url = https://github.com/ivandariojr/StatefulOdeNets.git
	branch = lyanet-master

[submodule "libs/nero"]
	path = libs/nero
	url = https://github.com/ivandariojr/nero.git
